<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restAPIUrl</key>
	<string>https://mobileapps.carleton.ca:8443/iPhone</string>
	<key>mockAPIUrl</key>
	<string>http://localhost:3000/mock</string>
	<key>useMockRESTAPI</key>
	<string>NO</string>
</dict>
</plist>
